body {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 70pt;
  text-decoration: underline;
}
h2 {
  font-size: 35pt;
  color: white
}
h3 {
  font-size: 24pt;
  color: white
}

.hide {
  display: none
}