body {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 70pt;
  text-decoration: underline;
}
h2 {
  font-size: 35pt;
  color: white
}
h3 {
  font-size: 24pt;
  color: white
}
h4 {
  font-size: 18pt;
  color: black;
  text-decoration: underline;
}
li {
  color: white
}

.hide {
  display: none
}
.list-container {
  background-color: white;
  width: 30vw;
  border: 1px solid black;
  margin: 0 auto; 
  border-radius: 10px;
  padding: 1em;
  margin-top: 1rem;
}
ol {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Sets space between items */
  padding-left: 4em;
  padding-top: 2em;
  text-align: left;
}
li {
  color: black
}
#delete-all {
  font-size: 2.5em;
}