.list-container {
  background-color: white;
  width: 30vw;
  border: 1px solid black;
  margin: 0 auto; 
  border-radius: 10px;
  padding: 1em;
  margin-top: 1rem;
}
.todo-item {
  color: black;
  cursor: pointer;
}
/* .completed {
  text-decoration: line-through; 
  cursor: pointer;
} */
#delete-all {
  font-size: 2.5em;
}
[data-status="complete"] {
  text-decoration: line-through;
}